name: couldai_user_app
description: "Daily Islamic Planner PWA"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.2.1
  geolocator: ^13.0.1
  flutter_local_notifications: ^18.0.1
  shared_preferences: ^2.3.2
  intl: ^0.19.0
  flutter_svg: ^2.0.10+1
  permission_handler: ^11.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
  fonts:
    - family: ArabicFont
      fonts:
        - asset: assets/fonts/Amiri-Regular.ttf
        - asset: assets/fonts/Amiri-Bold.ttf
          weight: 700